:root {
    --primary: #e50914;
    --bg: #141414;
    --card-bg: #1e1e1e;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg);
    color: white;
    margin: 0;
}

/* NAVEGACIÓN */
.sidenav {
    height: 100%; width: 0; position: fixed; z-index: 1000;
    top: 0; left: 0; background-color: #111;
    overflow-x: hidden; transition: 0.5s; padding-top: 60px;
}
.sidenav a {
    padding: 8px 32px; text-decoration: none; font-size: 18px;
    color: #818181; display: block; transition: 0.3s;
}
.sidenav a:hover { color: #f1f1f1; }
.sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; }

.menu-icon { font-size: 30px; cursor: pointer; padding: 15px; display: block; }

/* GRIDS */
.movie-grid, .people-grid {
    display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; padding: 20px;
}

/* TARJETAS PELÍCULAS */
.card {
    background: var(--card-bg); width: 150px; border-radius: 8px;
    overflow: hidden; text-align: center; padding-bottom: 10px;
}
.card img { width: 100%; height: 225px; object-fit: cover; }

/* TARJETAS PERSONAS (ACTORES/DIRECTORES) */
.person-card {
    background: var(--card-bg); width: 170px; border-radius: 15px;
    padding: 12px; border: 1px solid #333; text-align: center;
}
.person-photo {
    width: 100%; height: 190px; object-fit: cover; border-radius: 10px;
}
.mini-poster {
    width: 80px !important; height: 120px !important;
    border-radius: 6px !important; border: 2px solid var(--primary);
    margin-top: 10px; cursor: pointer; transition: 0.3s;
}

/* MODAL */
.modal {
    display: none; position: fixed; z-index: 2000; left: 0; top: 0;
    width: 100%; height: 100%; background: rgba(0,0,0,0.9);
    justify-content: center; align-items: center;
}
.modal-content { max-width: 90%; max-height: 80%; border-radius: 10px; }

.separator { width: 80%; border: 0; border-top: 1px solid #333; margin: 40px auto; }

/* Centrar la sección de búsqueda */
#searchSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente si hay espacio */
    min-height: 70vh; /* Para que ocupe gran parte de la pantalla */
    text-align: center;
}

.search-box {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 500px; /* Ancho máximo del buscador */
    margin-top: 20px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #333;
    background: #222;
    color: white;
    font-size: 1rem;
}

.search-box button {
    padding: 12px 25px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estenedor de los gráficos */
.charts {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

canvas {
    max-height: 400px;
    margin-bottom: 50px;
}
